# block access to this .htaccess file
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>

# block access to indexes / file directory structure
Options -Indexes

# allow
Allow from all
